<div>
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s2">
          <a href="#" class="brand-logo">
            <img src="./assets/images/kcorp.png" alt="Logo" class="logo-image">
          </a>
        </div>
        <div class="col s10">
          <a href="#" class="brand-logo center">
            Kc Players
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="slideshow-container" >
    <div *ngFor="let joueur of joueurs" class="slide">
      <div class = "pseudo-center">
        <h2>{{ joueur.pseudo }}</h2>
      </div>
      <img [src]="joueur.photo" alt="" width="300px" height="400px">
      <div class="detail-modif">
        <a >
          Détails
        </a>
      </div>
    </div>
    
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col s6">
          <a href="#">À propos</a>
        </div>
        <div class="col s6">
          <a href="#">Nous contacter</a>
        </div>
      </div>
    </div>
  </footer>
</div>


 <!--
    <body>
  <div class="slideshow-container">
    <div *ngFor="let joueur of joueurs" class="slide">
      <div class="pseudo-center">
        <h2>{{ joueur.pseudo }}</h2>
      </div>
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <img [src]="joueur.photo" alt="" width="300px" height="400px">
        </div>
      </div>
      <div class="card-content">
        <p class="description">
          The lorem text the section that contains header with having open functionality. Lorem dolor sit amet
          consectetur adipisicing elit.
        </p>
        <button class="button">View More</button>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col s6">
          <a href="#">À propos</a>
        </div>
        <div class="col s6">
          <a href="#">Nous contacter</a>
        </div>
      </div>
    </div>
  </footer>
</body>
-->



